html {
  background: var(--cor-b1);
  scroll-behavior: smooth;
  color: var(--cor-b2);
}
.header {
  display: flex;
  justify-content: center;
  padding: 5vh;
  z-index: 1000;
}
.logo {
  text-decoration: none;
  font-family: "timeline";
  font-size: 300%;
  color: var(--cor-b2);
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 500px) {
  .logo {
    font-size: 250%;
  }
}
